# Camera setting
CAMERA_INDEX=0
DISPLAY=:0
# Key
HF_KEY=
# Port
FASTAPI_PORT=8000
# QDRANT
QDRANT_HOST=localhost
QDRANT_PORT=6333
# MINIO
MINIO_HOST=localhost
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin123"
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001