.idea
.env
test.py
app/__pycache__/
app/core/__pycache__/
app/core/schema/__pycache__/
app/core/config/__pycache__/
app/core/exceptions/__pycache__/
app/core/status_message/__pycache__/
app/core/vector_store/__pycache__/
app/utils/__pycache__/
app/utils/image/__pycache__/
app/utils/camera/__pycache__/
app/utils/face/recognition/__pycache__/
app/utils/face/alignment/__pycache__/
app/utils/face/embedding/__pycache__/
app/utils/face/frontal_metrics/__pycache__/
app/db/minio/__pycache__/
app/db/qdrant/__pycache__/
app/routes/__pycache__/
loggers/__pycache__/
app/startup/__pycache__/
app/utils/face/embedding/ada_face.py